<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of /~dweintrop/snap/help</title>
 </head>
 <body>

 <form action="/snapRun/" method="POST">


<input type="text" name='student_id' value="123"/><br/>
<input type="text" name='project_name' value="test1"/><br/>
<input type="text" name='condition' value="test2"/><br/>
<input type="text" name='run_type' value="graph"/><br/>
<input type="text" name='pair_id' value="1"/><br/>
<input type="text" name='projectXML' value="project xml"/><br/>


 <textarea name="scriptXML"> hey </textarea>

<input type="submit" value="Submit">

 </form>


 </body>
 </html>