<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Snappier! Building on Build Your Own Blocks.</title>



		{% load staticfiles %}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script> 
<!--
		<script src="http://localhost/~dweintrop/jquery.min.js"></script>
	    <script src="http://localhost/~dweintrop/jquery-ui.min.js"></script> 
-->


		<script type="text/javascript" src="{% static "snapStudy.js"%}"></script>


		<script type="text/javascript" src="{% static "codeMirror/codemirror.js"%}"></script>
		<link rel="stylesheet" href="{% static "css/codemirror.css"%}" type="text/css">
		<script type="text/javascript" src="{% static "codeMirror/javascript.js"%}"></script>
		<script type="text/javascript" src="{% static "codeMirror/matchbrackets.js"%}"></script>
		<script type="text/javascript" src="{% static "codeMirror/show-hint.js"%}"></script>
		<script type="text/javascript" src="{% static "codeMirror/javascript-hint.js"%}"></script>
		<script type="text/javascript" src="{% static "codeMirror/jshint.js"%}"></script>

		<link rel="stylesheet" href="{% static "css/jquery-ui.css"%}" type="text/css">
		<link rel="stylesheet" href="{% static "css/jquery-ui.theme.css"%}" type="text/css">

		<style type="text/css">
			.lint-error {font-family: arial; font-size: 85%; background: #ffa; color: #a00; padding: 2px 5px 3px; }
			.lint-error-icon {color: white; background-color: red; font-weight: bold; border-radius: 50%;  padding: 0 3px 0 4px; margin-right: 7px;}
		</style>


	    <link rel="shortcut icon" href="http://snap.berkeley.edu/fav3.gif" type="image/gif">
		<script type="text/javascript" src="{% static "morphic.js"%}"></script>
		<script type="text/javascript" src="{% static "widgets.js"%}"></script>
		<script type="text/javascript" src="{% static "blocks.js"%}"></script>
		<script type="text/javascript" src="{% static "threads.js"%}"></script>
		<script type="text/javascript" src="{% static "objects.js"%}"></script>
		<script type="text/javascript" src="{% static "gui.js"%}"></script>
		<script type="text/javascript" src="{% static "paint.js"%}"></script>
		<script type="text/javascript" src="{% static "lists.js"%}"></script>
		<script type="text/javascript" src="{% static "byob.js"%}"></script>
		<script type="text/javascript" src="{% static "xml.js"%}"></script>
		<script type="text/javascript" src="{% static "store.js"%}"></script>
		<script type="text/javascript" src="{% static "locale.js"%}"></script>
		<script type="text/javascript" src="{% static "cloud.js"%}"></script>
		<script type="text/javascript" src="{% static "sha512.js"%}"></script>
		<script type="text/javascript">

			var world;
			var myCodeMirror;

			window.onload = function () {
				world = new WorldMorph(document.getElementById('world'), true); // second arg sets fillPage
                world.worldCanvas.focus();
				new IDE_Morph().openIn(world);
				setInterval(loop, 1);


				// console.log({{projectXML}});
				var projectXML = '{{projectXML}}';
				if (projectXML) {
					world.children[0].openProjectString(new XML_Element().unescape(projectXML));
				}

				// setup javascript viewer
				var cmDiv = document.getElementById('cmDiv');
				myCodeMirror = CodeMirror(cmDiv, {
					mode: "javascript",
					lineNumbers:true, 
					tabSize:2,
					matchBrackets: true,
					extraKeys: {"Ctrl-Space": "autocomplete"}
				});

				// try and remove the code bubble from the code of block
				myCodeMirror.on('focus', hideCodeBubble);
				myCodeMirror.on('blur', hideCodeBubble);
			};

			function loop() {
				world.doOneCycle();				
			}

			function hideCodeBubble() {
				world.hand.destroyTemporaries();
			}
		</script>
	</head>

	<body style="margin: 0;">
		<div style="display:none;">
			{{form.student_id}}
			{{form.pair_id}}
			<input id="id_condition" value="{{form.class_period.value}}"/>
		</div>

	    <div id="cmDiv-wrapper" title="Javascript {% if form.class_period.value == 'graph_write'%}Editor{% else %}Viewer{%endif%}" style="display:none;position:aboslute;z-index:-1;width:55%;height:44%;">
			<pre class="cm-s-default function-structure" style="margin-bottom:0px;margin-left:9px;margin-top:5px;"><span class="cm-keyword">function </span><span id="function-name" class="cm-variable">hey</span>(<span id="arg-list"></span>) {</pre>
			<div id="cmDiv"></div>
			<pre class="cm-s-default function-structure" style="margin-bottom:0px;margin-left:9px;margin-top:0px;">}</pre>
	    </div>

		<canvas id="world" tabindex="1" style="position: absolute;z-index:0;" />
		
		{{projectXML}}
  </body>
</html>
