<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of /~dweintrop/snap/Sounds</title>
 </head>
 <body>
<h1>Index of /~dweintrop/snap/Sounds</h1>
<table><tr><th><img src="/icons/blank.gif" alt="[ICO]"></th><th><a href="?C=N;O=D">Name</a></th><th><a href="?C=M;O=A">Last modified</a></th><th><a href="?C=S;O=A">Size</a></th><th><a href="?C=D;O=A">Description</a></th></tr><tr><th colspan="5"><hr></th></tr>
<tr><td valign="top"><img src="/icons/back.gif" alt="[DIR]"></td><td><a href="/~dweintrop/snap/">Parent Directory</a>       </td><td>&nbsp;</td><td align="right">  - </td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/sound2.gif" alt="[SND]"></td><td><a href="Cat.mp3">Cat.mp3</a>                </td><td align="right">23-Jul-2014 09:27  </td><td align="right">8.0K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/sound2.gif" alt="[SND]"></td><td><a href="Chord.wav">Chord.wav</a>              </td><td align="right">23-Jul-2014 09:27  </td><td align="right"> 40K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/sound2.gif" alt="[SND]"></td><td><a href="Dog1.wav">Dog1.wav</a>               </td><td align="right">23-Jul-2014 09:27  </td><td align="right">7.2K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/sound2.gif" alt="[SND]"></td><td><a href="Dog2.wav">Dog2.wav</a>               </td><td align="right">23-Jul-2014 09:27  </td><td align="right">6.2K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/sound2.gif" alt="[SND]"></td><td><a href="FingerSnap.wav">FingerSnap.wav</a>         </td><td align="right">23-Jul-2014 09:27  </td><td align="right">3.9K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/sound2.gif" alt="[SND]"></td><td><a href="Kitten.wav">Kitten.wav</a>             </td><td align="right">23-Jul-2014 09:27  </td><td align="right"> 37K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/sound2.gif" alt="[SND]"></td><td><a href="Laugh-female.wav">Laugh-female.wav</a>       </td><td align="right">23-Jul-2014 09:27  </td><td align="right"> 27K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/sound2.gif" alt="[SND]"></td><td><a href="Laugh-male1.wav">Laugh-male1.wav</a>        </td><td align="right">23-Jul-2014 09:27  </td><td align="right"> 29K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/sound2.gif" alt="[SND]"></td><td><a href="Laugh-male2.wav">Laugh-male2.wav</a>        </td><td align="right">23-Jul-2014 09:27  </td><td align="right"> 63K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/sound2.gif" alt="[SND]"></td><td><a href="Laugh-male3.mp3">Laugh-male3.mp3</a>        </td><td align="right">23-Jul-2014 09:27  </td><td align="right"> 29K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/sound2.gif" alt="[SND]"></td><td><a href="Meow.wav">Meow.wav</a>               </td><td align="right">23-Jul-2014 09:27  </td><td align="right"> 13K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/sound2.gif" alt="[SND]"></td><td><a href="Pop.wav">Pop.wav</a>                </td><td align="right">23-Jul-2014 09:27  </td><td align="right">1.1K</td><td>&nbsp;</td></tr>
<tr><th colspan="5"><hr></th></tr>
</table>
</body></html>

<!-- 
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Snap! Build Your Own Blocks. Beta</title>



		{% load staticfiles %}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script> 
		<script type="text/javascript" src="{% static "snapStudy.js"%}"></script>


		<script type="text/javascript" src="{% static "codeMirror/codemirror.js"%}"></script>
		<link rel="stylesheet" href="{% static "css/codemirror.css"%}" type="text/css">
		<script type="text/javascript" src="{% static "codeMirror/javascript.js"%}"></script>
		<script type="text/javascript" src="{% static "codeMirror/matchbrackets.js"%}"></script>
		<script type="text/javascript" src="{% static "codeMirror/show-hint.js"%}"></script>
		<script type="text/javascript" src="{% static "codeMirror/javascript-hint.js"%}"></script>
		<link rel="stylesheet" href="{% static "css/jquery-ui.css"%}" type="text/css">
		<link rel="stylesheet" href="{% static "css/jquery-ui.theme.css"%}" type="text/css">

		<script type="text/javascript">

			var world;
			var myCodeMirror;

			window.onload = function () {
				
				// setup javascript editor
				var cmTextArea = document.getElementById('javascriptIDE');
				var editorWrapper = document.getElementById('editorWrapper');

				myCodeMirror = CodeMirror(editorWrapper, {
					mode: "javascript",
					matchBrackets: true,
					extraKeys: {"Ctrl-Space": "autocomplete"}
					// readOnly: true
				});
				myCodeMirror.on('focus', hideCodeBubble);

			};

			function hideCodeBubble() {
				// world.hand.destroyTemporaries();
			}


			function openEditor(inCode) {
				// open the editor

				var width = $(window).width() * .44;
				var height = $(window).height() * .66;

				$( "#editorWrapper" ).dialog({
					width: width,
					height: height,
					buttons: {
						Ok: function() {
							$( this ).dialog( "close" );
						}
					}
				});

				// fill it with the code from the clicked box
				myCodeMirror.setValue(inCode);

				// hide the text bubble
				// world.hand.destroyTemporaries();
			}

		</script>
	</head>
	<body style="margin: 0;">
		<div style="display:none;">
			{{form.student_id}}
			{{form.pair_id}}
			<input id="id_condition" value="{{form.class_period.value}}"/>
		</div>

    <div id="editorWrapper" title="Javascript Editor" style="display:none;position:aboslute;z-index:-1;width:55%;height:44%;">
    </div>

    <button onclick="openEditor('var x = 1;')" name="button">open editor</button>

		<canvas id="world" tabindex="1" style="position: absolute;z-index:0;" />
  </body>
</html> 
-->

